<div class="hobbies-component">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="hobbies-text">
                <p>
                    I like to watch tv series, documentaries and cook.
                </p>
                <p>
                    Some of the comments about the pizza I make were 
                    "Very delicious!", 
                    "I haven't had such good pizza for a long time" 
                    and "Do it again another day please".
                </p>
            </div>
        </div>
    </div>
</div>