<div class="social-component">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="social-text" >

                <p>
                    All my social networks have the username 'ademarfsj', send me a message!
                </p>

                <p>
                    <a href="https://github.com/ademarfsj" target="_blank">
                        <img src = "../../assets/github.svg" alt="GitHub"/>
                        GitHub
                    </a>
                </p>
                
                <p>
                    <a href="https://www.linkedin.com/in/ademarfsj" target="_blank">
                        <img src = "../../assets/linkedin.svg" alt="LinkedIn"/>
                        LinkedIn
                    </a>
                </p>
                
                <p>
                    <a href="https://twitter.com/ademarfsj" target="_blank">
                        <img src = "../../assets/twitter.svg" alt="Twitter"/>
                        Twitter
                    </a>
                </p>
                
                <p>
                    <a href="https://www.instagram.com/ademarfsj" target="_blank">
                        <img src = "../../assets/instagram.svg" alt="Instagram"/>
                        Instagram
                    </a>
                </p>

            </div>
        </div>
    </div>
</div>
