<div class="social-component">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="social-text" >

                <p>
                    <a href="https://github.com/ademarfsj" target="_blank">
                        <img src = "../../assets/github.svg" alt="GitHub" style="fill: currentColor;"/>
                        GitHub
                    </a>
                </p>
                
                <p>
                    <a href="https://www.linkedin.com/in/ademarfsj/" target="_blank">
                        <img src = "../../assets/linkedin.svg" alt="LinkedIn" style="fill: currentColor;"/>
                        LinkedIn
                    </a>
                </p>
                
                <p>
                    <a href="https://twitter.com/ademarfsj" target="_blank">
                        <img src = "../../assets/twitter.svg" alt="Twitter" style="fill: currentColor;"/>
                        Twitter
                    </a>
                </p>

            </div>
        </div>
    </div>
</div>
