<div class="presentation-component">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="about-text">
                <p>
                    I'm a web developer with solid knowledge in Java and I never found it difficult to learn new technologies.
                <br>
                    I also currently play the role of tech lead in the company I work for, being responsible for helping the team 
                    to produce a quality code, spreading knowledge about the architecture and technologies of the company's systems 
                    and assisting in architectural decisions.
                </p>
            </div>
        </div>
    </div>
</div>