<div class="about-component">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="about-text">
                <p>
                    I'm a web developer with solid knowledge in Java and I never found it difficult to learn new technologies.
                <br>
                    Working as developer since 2014 I've gone through several languages and frameworks to meet needs 
                    that have arisen, such as swift for iOS apps and Node.js for a simple and super light web app.
                <br>
                    In addition to coding in the company I work for, I help the team produce a quality code, 
                    spreading knowledge about the architecture and technologies of the company's systems 
                    and assisting in architectural decisions.
                </p>
            </div>
        </div>
    </div>
</div>