<div class="explorer">

    <div class="sections code">
        <a href="#presentation">
            <div class="section-url"><span class="code dark-orange">{{'<>'}} </span>presentation</div>
        </a>
        <a href="#about">
            <div class="section-url"><span class="code dark-orange">{{'<>'}} </span>about</div>
        </a>
        <a href="#main-skills">
            <div class="section-url"><span class="code dark-orange">{{'<>'}} </span>main-skills</div>
        </a>
        <a href="#social">
            <div class="section-url"><span class="code dark-orange">{{'<>'}} </span>social</div>
        </a>
    </div>

</div>

