<div class="explorer">

    <div class="sections code">
        <a href="/#presentation" (click)="selectTab(tabHome)">
            <div class="section-url"><span class="code dark-orange">{{'<>'}} </span>presentation</div>
        </a>
        <a href="/#about" (click)="selectTab(tabHome)">
            <div class="section-url"><span class="code dark-orange">{{'<>'}} </span>about</div>
        </a>
        <a href="/#main-skills" (click)="selectTab(tabHome)">
            <div class="section-url"><span class="code dark-orange">{{'<>'}} </span>main-skills</div>
        </a>
        <a href="/#educational-background" (click)="selectTab(tabHome)">
            <div class="section-url"><span class="code dark-orange">{{'<>'}} </span>educational-background</div>
        </a>
        <a href="/#hobbies" (click)="selectTab(tabHome)">
            <div class="section-url"><span class="code dark-orange">{{'<>'}} </span>hobbies</div>
        </a>
        <a href="/#social" (click)="selectTab(tabHome)">
            <div class="section-url"><span class="code dark-orange">{{'<>'}} </span>social</div>
        </a>
        <a href="/#cluster" (click)="selectTab(tabCluster)">
            <div class="section-url"><span class="code dark-orange">{{'<>'}} </span>cluster</div>
        </a>
    </div>

</div>

