.app {
    background-color: #1e1e1e;
    color: #dedede;
    height: 100%;
}

.content {
    background-color: #1e1e1e;
}

.nav-tabs {
    position: fixed;
    background-color: #1e1e1e;
}

.tag-div {
    margin-top: 50px;
}

#presentation, #about, #main-skills, #educational-background, #hobbies, #social, #cluster {
    scroll-margin-top: 50px;
}