
<div class="app">
    <div class="row">
    
        <div class="col-3 px-0 vh-100 position-fixed d-none d-md-block">
            
            <explorer [staticTabs]="staticTabs"></explorer>

        </div>
    
        <div class="col offset-md-3 px-0 content">

            <tabset #staticTabs>
                <tab heading="home.html" [active]="true">
                    <div id="presentation"
                        class="row tag-div">
                        <open-tag tagName="div" htmlId="presentation"></open-tag>
                        <presentation></presentation>
                        <close-tag tagName="div"></close-tag>
                    </div>
            
                    <div id="about"
                        class="row tag-div">
                        <open-tag tagName="div" htmlId="about"></open-tag>
                        <about></about>
                        <close-tag tagName="div"></close-tag>
                    </div>
                
                    <div id="main-skills"
                        class="row tag-div">
                        <open-tag tagName="div" htmlId="main-skills"></open-tag>
                        <skills></skills>
                        <close-tag tagName="div"></close-tag>
                    </div>
                
                    <div id="educational-background"
                        class="row tag-div">
                        <open-tag tagName="div" htmlId="educational-background"></open-tag>
                        <educational-background></educational-background>
                        <close-tag tagName="div"></close-tag>
                    </div>
                
                    <div id="hobbies"
                        class="row tag-div">
                        <open-tag tagName="div" htmlId="hobbies"></open-tag>
                        <hobbies></hobbies>
                        <close-tag tagName="div"></close-tag>
                    </div>
                
                    <div id="social"
                        class="row tag-div">
                        <open-tag tagName="div" htmlId="social"></open-tag>
                        <social></social>
                        <close-tag tagName="div"></close-tag>
                    </div>
                </tab>
                <tab heading="cluster.html">
                    <div id="cluster"
                        class="row tag-div">
                        <open-tag tagName="div" htmlId="cluster"></open-tag>
                        <cluster></cluster>
                        <close-tag tagName="div"></close-tag>
                    </div>
                </tab>
            </tabset>

        </div>
    
    </div>

</div>
