
<div class="app">
    <div class="row">
    
        <div class="col-3 px-0 vh-100 position-fixed">
            
            <explorer></explorer>

        </div>
    
        <div class="col offset-3 content">
    
            <div id = "presentation"
                 class="row">
                <open-tag tagName="div" htmlClass="presentation"></open-tag>
                <presentation></presentation>
                <close-tag tagName="div"></close-tag>
            </div>
        
            <br>
    
            <div id = "about"
                 class="row">
                <open-tag tagName="div" htmlClass="about"></open-tag>
                <about></about>
                <close-tag tagName="div"></close-tag>
            </div>
        
            <br>
        
            <div id = "skills"
                 class="row">
                <open-tag tagName="div" htmlClass="main-skills"></open-tag>
                <skills></skills>
                <close-tag tagName="div"></close-tag>
            </div>
        
            <br>
        
            <div id = "social"
                 class="row">
                <open-tag tagName="div" htmlClass="social"></open-tag>
                <social></social>
                <close-tag tagName="div"></close-tag>
            </div>

        </div>
    
    </div>

</div>
