<div class="cluster-component">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <div class="cluster-text">

                <p>
                    This website is running in a kubernetes cluster with 3 Raspberry Pi, seriously!
                </p>

                <p>
                    Yeah, I know this is like using a bazooka to kill an ant, but I made this mainly to learn kubernetes
                    and now I have a cluster and some basic infrastructure that make things easier to put some personal apps available through the internet without having to pay new servers.
                </p>

                <p>
                    Before starting this project I knew I was going to learn some new things but the learning curve went way beyond what I was imagining it would be.  
                    I learned a lot about networks, kubernetes, docker, jenkins, linux and even how to get out of vi.
                </p>

                <p>
                    Check out my boys (rocket-raccoon, groot and star-lord). They are 3 Raspberry Pi 4B with 8GB ram each, running Raspberry Pi OS (64 bit).
                </p>

                <img src="../../assets/raspberry-cluster.jpg"
                    alt="Raspberry Cluster"
                    title="Raspberry Cluster">
                    
                <p>
                    Everytime I push to the <a href="https://github.com/ademarfsj/ademarfsj-front-end" target="_blank">GitHub repository of this project</a>, a webhook is sent to my Jenkins (which is running on rocket-raccoon)
                    and automaticaly starts a build and push the result image to my <a href="https://hub.docker.com/r/ademarfsj/front-end" target="_blank">dockerhub repository</a>
                </p>

                <img src="../../assets/jenkins-01.png"
                    alt="Jenkins webhook"
                    title="Jenkins webhook">

                <br>
                <br>

                <img src="../../assets/jenkins-02.png"
                    alt="Jenkins Build"
                    title="Jenkins Build">

                <p>
                    In the next image we can see an rolling update, when new pods are created before terminating the older ones, this way I can update the application with 0 downtime.
                </p>

                <img src="../../assets/rolling-update.png"
                    alt="Rolling Update"
                    title="Rolling Update">

                <p>
                    This was a super fun project to do and it was totally worth it.
                </p>

            </div>
        </div>
    </div>
</div>
