html, 
body {
    height: 100%;
}

p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.code {
    font-family: "Monaco", "Lucida Console", monospace;
}

.code.blue {
    color: #569CD6;
}

.code.light-blue {
    color: #9CDCFE;
}

.code.gray {
    color: #999999;
}

.code.dark-gray {
    color: #444444;
}

.code.white {
    color: #ffffff;
}

.code.orange {
    color: #CE9178;
}

.code.dark-orange {
    color: #cc6b45;
}

.nav-tabs {
    position: fixed;
    background-color: #2a2a2a;
    width: 100%;
    border: 0px !important;
}

.nav-link, .nav-link:hover {
    color: #ffdead !important;
    border: 0px !important;
    border-radius: 0px !important;
}

.nav-item {
    background-color: #313131;

    .active {
        background-color: #1e1e1e !important;
    }

}
